Source: cpt-build-tut-02
Section: misc
Priority: extra
Maintainer: Eric Rasche <rasche.eric@yandex.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: cpt-build-tut-02
Architecture: all
Depends: 
Description: CPT Build Tutorial Part 2
 Our original hello world perl script now depends on a bunch
 of crypto hash libraries.
 .
