Source: cpt-build-tut-05
Section: misc
Priority: extra
Maintainer: Eric Rasche <rasche.eric@yandex.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: cpt-build-tut-05
Architecture: any
Depends: perl
Description: CPT Build Tutorial Part 5
 Signed package
 .
