# Created by http://gitignore.io

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


## Custom ##
files/debian/cpt-build*
!debian/rules
!debian/control
!debian/changelog
!debian/compat

#../../02-control-file/files/debian/cpt-build-tut-02.substvars
# Created by http://gitignore.io

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
config.guess
config.log
config.sub
config.status
libtool
ltmain.sh
m4
.deps/
.libs/
*.o
*.lo
*.la
*i386.changes
*i386.deb
*.tar.gz








*.dsc
*.deb
*.debhelper.log
*.substvars
