Source: cpt-build-tut-07
Section: misc
Priority: extra
Maintainer: Eric Rasche <rasche.eric@yandex.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: cpt-build-tut-07
Architecture: all
Depends: perl
Description: CPT Build Tutorial Part 1v2
 This hello world script is now fancier, and set to version 2. 
 But what if we want to have *both* of them installed at once?
 .
