Source: cpt-build-tut-01
Section: misc
Priority: extra
Maintainer: Eric Rasche <rasche.eric@yandex.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: cpt-build-tut-01
Architecture: all
Depends: perl
Description: CPT Build Tutorial Part 1
 Simple hello world perl script which goes into /usr/bin
 .
